{% extends "base.html" %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Grades of student</h2>
            <table class="table table-hover my-2">
                <thead>
                </thead>
                <tbody>
                    {% for grade in grades %}
                        {% include "_grade.html" %}
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{{ url_for('add_grade', student_id=student_id, lesson_id=lesson_id) }}">Add a grade</a>
        </div>
    </div>
{% endblock %}
