{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <div class="row">
            <h2>{{ current_user.username }} -
                {% if current_user.is_student() %}
                    student
                {% elif current_user.is_teacher() %}
                    teacher
                {% endif %}
            </h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% if current_user.is_student() %}
                    {% include '_lesson_instance_table_student.html' %}
                {% elif current_user.is_teacher() %}
                    {% include '_lesson_instance_table_teacher.html' %}
                {% endif %}
            </div>
            <div class="col-md-4">

            </div>
        </div>
    {% else %}
        <h1>Hello, this a title page for this website</h1>
    {% endif %}
{% endblock %}
